.github/
.vscode/
docs/
examples/
lib/
logs/
src/
native/
node_modules/

.prebuild*
binding.gyp
copy.js
demo.ts
index-test.js
install.js
jest.config.js
*.log
Makefile

tsconfig.json
tsup.config.ts
typedoc-*
typedoc.*
*.tgz

Workflow.md